#root {
    min-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.master-grid {
    display: grid;
    grid-template-rows: 55px 390px 2fr;
    grid-template-columns: 1fr;
    background: linear-gradient(90deg,rgba(190, 11, 36, 0) 0%, rgba(190, 11, 36, 1) 33%, rgba(135, 18, 182, 1) 66%, rgba(135, 18, 182, 0) 100%);
}

.battlemode-select {
    width: 100px;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.fight-button {
    grid-row: 3;
    grid-column: 1;
    justify-self: center;
    width: 150px;
}

.status-text {
    grid-row: 4;
    grid-column: 1;
    text-decoration: underline;
    font-size: 18px;
}